---
BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
NamespaceIndentation: All
AccessModifierOffset: -4
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Pointer
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: Never
IncludeBlocks: Preserve
LineEnding: LF
InsertNewlineAtEOF: true
...
